<!-- <p>register works!</p> -->
<div class="login-page">

  <div class="left-panel">
    <div class="content">
      <h1>NexBank</h1>
      <h2>Create Your Account</h2>
      <p>
        Join NexBank and experience secure digital banking.
      </p>
    </div>
  </div>

  <div class="right-panel">

    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="login-card">

      <h2 >Create Account</h2>

      <p class="subtitle">
        Fill in your details
      </p>

      <div class="name-row">

        <div class="form-group">
          <label>First Name</label>
          <input
            type="text"
            formControlName="firstName"
            placeholder="First Name"
          >

          <!--! Validation message bro: -->
          @if(firstName.touched && firstName.hasError('required')) {
            <small>First Name is required.</small>
          }

        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input
            type="text"
            formControlName="lastName"
            placeholder="Last Name"
          >
          
          @if(lastName.touched && lastName.hasError('required')) {
            <small>Last Name is required.</small>
          }

        </div>

      </div>

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Enter Email"
        >

        @if(email.touched){
          @if(email.hasError('required')) {
            <small>Email is required.</small>
          } 
          @if(email.hasError('email')) {
            <small>Invalid email format, Please Enter a valid Email.</small>
          } 
        }


      </div>

      <div class="form-group">
        <label>Mobile Number</label>
        <input
          type="text"
          formControlName="mobile"
          placeholder="Enter your mobile number"
        >

        <!--! Validation Message: -->
        @if(mobile.touched){

          @if(mobile.hasError('required')){
            <small>Mobile number is required.</small>
          }

          @if(mobile.hasError('pattern')){
            <small>Enter a valid 10-digit mobile number.</small>
          }
        }

      </div>

      <div class="form-group">
        <label>Password</label>

        <div class="password-box">
          
          <input
            [type]="hidePassword() ? 'password' : 'text'"
            formControlName="password"
          >

          @if(password.touched){
            @if(password.hasError('required')){
              <small>Password is required.</small>
            }
            @if(password.hasError('minlength')){
              <small>Password must be at least 5 characters.</small>
            }
          }

          <button
            type="button"
            (click)="togglePassword()">

            {{ hidePassword() ? 'Show' : 'Hide' }}

          </button>
        </div>

      </div>

      <div class="form-group">

        <label>Confirm Password</label>

        <div class="password-box">

          <input
            [type]="hideConfirmPassword() ? 'password' : 'text'"
            formControlName="confirmPassword"
          >
          
          @if(registerForm.hasError('passwordMismatch') && confirmPassword.touched){
            <small>
                ❌ Passwords do not match ❌.
            </small>
          }

          @if(confirmPassword.touched && confirmPassword.hasError('required')){
            <small>Confirm Password is required.</small>
          }

          <button
            type="button"
            (click)="toggleConfirmPassword()">

            {{ hideConfirmPassword() ? 'Show' : 'Hide' }}

          </button>

        </div>

      </div>

      <div class="checkbox">

        <input
          type="checkbox"
          formControlName="acceptTerms"
        >

        @if(acceptTerms.touched && acceptTerms.hasError('required')){
          <small>Please accept Terms & Conditions & then proceed.</small>
        }
        @if(acceptTerms.touched && acceptTerms.hasError('requiredTrue')){
          <small>Please accept Terms & Conditions & then proceed.</small>
        }

        <span>I accept Terms & Conditions</span>

      </div>

      <button
        
        class="login-btn"
        type="submit"
        [disabled]="registerForm.invalid || loading()">

        {{loading() ? 'Registering...' : 'Register'}}
        <!-- Register -->

      </button>

      <div class="register">

        Already have an account?

        <a routerLink="/auth/login" style="cursor: pointer;">
          Login
        </a>

      </div>

    </form>

  </div>

</div>
