* {
  box-sizing: border-box;
}

.login-page {
  display: flex;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.left-panel {
  flex: 1;
  background: linear-gradient(135deg, #2563eb, #1e3a8a);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.content {
  max-width: 420px;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.content p {
  line-height: 1.7;
  opacity: .9;
}

.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8fafc;
  color: black;
}

.login-card {
  width: 420px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0,0,0,.08);
}

.login-card h2 {
  margin-bottom: 8px;
}

.subtitle {
  color: black;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

input[type=email],
input[type=password],
input[type=text] {

  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
}

input:focus {

  border-color: #2563eb;

}

.password-box {

  display: flex;
  gap: 10px;

}

.password-box button {

  padding: 0 18px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;

}

.options {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;

}

.options label {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0;
}

.options a {

  color: #2563eb;
  text-decoration: none;

}

.login-btn {

  width: 100%;
  padding: 14px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;

}

.login-btn:hover {

  background: #1d4ed8;

}

.register {

  margin-top: 24px;
  text-align: center;
  // cursor: pointer;
}

.register a {

  color: #2563eb;
  text-decoration: none;
  font-weight: 600;

}

small {

  color: #ef4444;

}

@media(max-width:900px){

  .left-panel{

      display:none;

  }

  .right-panel{

      width:100%;

  }

  .login-card{

      width:90%;

  }

}
